body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
display:flex;
align-items:center;
padding:15px;
background:#020617;
}

.menu{
font-size:22px;
cursor:pointer;
margin-right:10px;
}

#sidebar{
position:fixed;
left:-200px;
top:0;
height:100%;
width:200px;
background:#020617;
padding-top:60px;
transition:0.3s;
}

#sidebar.active{
left:0;
}

#sidebar a{
display:block;
padding:15px;
cursor:pointer;
}

main{
padding:20px;
max-width:900px;
margin:auto;
}

.banner{
width:100%;
border-radius:10px;
margin-bottom:20px;
}

.card{
background:#020617;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
cursor:pointer;
}

pre{
background:black;
padding:10px;
border-radius:6px;
overflow:auto;
}

.hint{
opacity:0.6;
font-size:13px;
}

footer{
text-align:center;
padding:30px;
opacity:0.6;
}

